body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a7a7a7;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d5d5;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
  border-radius: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pdf-view {
  height: 500px;
  width: 100vw;
  background-color: aquamarine;
}

.container {
  display: flex;
  width: 100%;
}

.viewer {
  width: 80%;
  height: 100vh;
}
.rightaside {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.message-box {
  height: 85%;
  width: 100%;
  color: white;
  background-color: #202128;
}
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shared-div button img {
  height: 20px;
  border-radius: 50%;
}

.shared-div button {
  cursor: pointer;
  border: 0px;
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.shared-div button:hover {
  background-color: rgb(252, 87, 59);
}

.shared-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 9px;
  font-family: sans-serif;
  background-color: #202128;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}
.shared-div p {
  width: 100%;
}

.message-tiles {
  height: 100%;
  background-color: #3d5af1;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}

.message-tiles > div {
  word-break: break-all;
  margin: 5px;
  font-size: 12px;
  font-family: sans-serif;
}

.message-box {
  /* overflow: scroll; */
  /* overflow-x: hidden; */
}

.message-inp-box,
.room-box {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: center;
  height: 10%;
  background-color: #202128;
  column-gap: 5px;
}

.message-inp-box input,
.room-box input {
  width: 50%;
  height: 40px;
  font-size: 10px;
  border-radius: 5px;
  border: 0px;
  background-color: #202128;
  border-bottom: 1px solid white;
  color: white;
}

textarea:focus,
input:focus {
  outline: none;
}

.message-inp-box button,
.room-box button {
  width: 10%;
  border-radius: 10px;
  height: 30px;

  border: 0px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-inp-box button img,
.room-box button img {
  height: 12px;
}

.message-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #df4749;
}

.message-heading h5 {
}

.room-edit {
  font-size: 12px;
  color: white;
  border-bottom: 1px solid white;
  border-radius: 3px;
}

.pdf-image img {
  height: 100px;
}

.fetched-data {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.pdf-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.pdf-links {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.pdf-links a {
  color: #3392ac;
  text-decoration: none;
}
.pdf-links a:hover {
  text-decoration: underline;
}

.pdf-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  text-overflow: ellipsis;
  margin: 0px auto;
  text-align: center;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5px;
}

.logout a {
  margin-right: 10px;
  height: 40px;
  background-color: #202128;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.logout a:hover {
  background-color: #202128c9;
}

.pdf-uploading {
  margin: 10px;
  display: flex;
}
.pdf-uploading input {
  height: 40px;
  background-color: #202128;
}

.custom-file-upload img {
  height: 15px !important;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-right: 30px;
}

input[type="file"] {
  display: none;
}

.pdf-uploading button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-right: 30px;
}

.pdf-err-msg {
  font-size: 12px;
  color: red;
  align-self: center;
}

.user-sign-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  column-gap: 20px;
}

.user-sign-page a {
  height: 40px;
  background-color: #202128;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.user-sign-page a:hover {
  background-color: #202128c9;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
  row-gap: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.login button {
  height: 40px;
  background-color: #202128;
  width: 100px;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.login button:hover {
  background-color: #202128c9;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form form {
  display: flex;
  column-gap: 20px;
}

.login-form input[type="email"] {
  width: 16vw;
  min-width: 130px;
  font-size: 11px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.login-form input[type="password"] {
  width: 10vw;
  min-width: 90px;
  font-size: 11px;
}

.is-new-user {
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #202128;
}
.is-new-user a {
  color: #202128;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
  row-gap: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

.signup form {
  display: flex;
  column-gap: 10px;
}

.signup form input[type="email"] {
  width: 14vw;
  min-width: 70px;
  font-size: 11px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.signup button {
  height: 40px;
  background-color: #202128;
  width: 100px;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.signup form input[type="password"] {
  width: 10vw;
  min-width: 40px;
  font-size: 11px;
}

.already-user {
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #202128;
}

.already-user a {
  color: #202128;
}

.sign-message {
  font-size: 14px;
}

.search-box {
  margin: 10px;
  display: flex;
  column-gap: 32px;
}

.search-box input {
  height: 20px;
  width: 130px;
  padding: 6px 12px;
}

.search-box input {
  height: 20px;
  width: 130px;
  padding: 6px 12px;
}
.message-tiles > div {
  font-size: 10px;
  width: fit-content;
}
.message-tiles {
  width: fit-content;
}
.messages {
  overflow: scroll;
  height: 90%;
  overflow-x: hidden;
}
.messages::-webkit-scrollbar {
  width: 1px;
}

@media screen and (max-width: 1000px) {
  .rightaside {
    width: 40%;
  }
  .message-tiles > div {
    font-size: 10px;
    width: fit-content;
  }
  .message-tiles {
    width: fit-content;
  }
}

button {
  cursor: pointer;
}
